@font-face {
  font-family: "Karla", sans-serif;
  src: url("./assets/fonts/static/Karla-Bold.ttf"),
    url("./assets/fonts/static/Karla-Regular.ttf");
  font-weight: 400, 700;
}

body {
  margin: 0px auto;

  background-color: hsl(148, 38%, 91%);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  color: hsl(187, 24%, 22%);
}

p {
  margin: 10px 0px;
}

input {
  padding: 0px 20px;
  border-radius: 5px;
  border: 1px solid hsl(187, 24%, 22%);
}

.form {
  margin: 125px 15px;
  width: calc(100% - 110px);
  max-width: 660px;
  padding: 40px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;

  display: flex;
  gap: 30px;
  flex-direction: column;
}

.form__title {
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
}

.form__input-row-fname-lname {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 50px auto;
  column-gap: 15px;
}

#fname-error {
  grid-column: 1 / 2;
}

#lname-error {
  grid-column: 2 / 3;
}

span {
  margin: 5px;
  color: hsl(169, 82%, 27%);
}

.form__input-fname,
.form__input-lname,
.form__input-email,
.form__input-message {
  margin: 10px 0px;
}

.form__input-row-email {
  display: grid;
  grid-template-rows: auto 50px auto;
}

.form__input-row-query-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 50px auto;
  column-gap: 15px;
}

.form__input-query-type,
.form__input-query-type-error {
  grid-column: span 2;
}

#general-enquiry,
#support-request {
  width: 20px;
  height: 20px;
  accent-color: hsl(169, 82%, 27%);
}

.form__input-query-type-selected {
  background-color: hsl(148, 38%, 91%);
}

.form__input-general-enquiry,
.form__input-support-request {
  padding: 0px 0px 0px 20px;
  border-radius: 5px;
  border: 1px solid hsl(187, 24%, 22%);

  display: flex;
  gap: 10px;
  align-items: center;
}

#message {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid hsl(187, 24%, 22%);
}

.form__input-row-message {
  display: grid;
  grid-template-rows: auto 105px auto;
}

#consent {
  margin-right: 2.27%;
  width: 18px;
  height: 18px;
  accent-color: hsl(169, 82%, 27%);
}

.form__input-row-consent {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: auto auto;
  align-items: center;
}

#consent-error {
  grid-column: span 2;
}

.error-msg {
  color: hsl(0, 66%, 56%);
}

.warning {
  border-color: hsl(0, 66%, 56%);
}

.form__submit-btn {
  height: 50px;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);

  padding: 0px 20px;
  border-radius: 5px;
  border: 1px solid hsl(187, 24%, 22%);
}

.success-message {
  max-width: 410px;
  width: calc(100% - 100px);
  height: 65px;
  padding: 20px;

  position: absolute;
  top: 20px;

  background-color: hsl(187, 24%, 22%);
  color: white;

  display: grid;
  column-gap: 5px;
  grid-template-columns: 25px auto;
  grid-template-rows: auto auto;
  align-items: center;
  border-radius: 7px;
}

.success-message__title {
  margin: 0px;
}

.success-message__desc {
  grid-column: span 2;
  margin: 0px;
  color: hsl(186, 15%, 59%);
}

.form__input:hover {
  cursor: pointer;
  border-color: hsl(169, 82%, 27%);
}

#consent:hover,
.form__input-consent:hover {
  cursor: pointer;
}

.form__submit-btn:hover {
  cursor: pointer;
  background-color: hsl(169, 82%, 17%);
}

@media (max-width: 490px) {
  .form__input-row-fname-lname {
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px auto auto 50px auto;
  }

  #fname-error {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .form__input-lname {
    margin-top: 30px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  #lname {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  #lname-error {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  .form__input-row-query-type {
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px 50px auto;
    column-gap: 0px;
    row-gap: 15px;
  }

  .form__input-query-type,
  .form__input-query-type-error {
    grid-column: 1 / 2;
  }

  .form__input-row-message {
    grid-template-rows: auto 240px auto;
  }
}
